html {
    height: 100%;
}


body {
   background-color: black;
    /* background-image: url("../images/giphy.gif"); */
    font-family: fantasy;
    color: white;
    text-align: center
  }


footer {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: white; 
}  
    

